In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
data=pd.read_csv('C:/Users/wandong/OneDrive/바탕 화면/dongguk/4-2/통계모델링2/기말프로젝트/data/health.csv')

In [4]:
Columns = [ 'SIDO','SEX', 'AGE_GROUP', 'HEIGHT', 'WEIGHT',
       'WAIST', 'SIGHT_LEFT', 'SIGHT_RIGHT', 'HEAR_LEFT', 'HEAR_RIGHT',
       'BP_HIGH', 'BP_LWST', 'BLDS', 'TOT_CHOLE', 'TRIGLYCERIDE', 'HDL_CHOLE',
       'LDL_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'CREATININE', 'SGOT_AST',
       'SGPT_ALT', 'GAMMA_GTP', 'SMK_STAT_TYPE_CD', 'DRK_YN',
        'CRS_YN', 'TTR_YN']

dataNew=data[Columns]
dataNew

,SIDO,SEX,AGE_GROUP,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,HEAR_RIGHT,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,TRIGLYCERIDE,HDL_CHOLE,LDL_CHOLE,HMG,OLIG_PROTE_CD,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,CRS_YN,TTR_YN
0,30,2,16,150,75,98.0,0.0,0.0,1.0,1.0,126.0,70.0,103.0,160.0,100.0,55.0,85.0,12.0,0,0.0,21.0,16.0,15.0,1.0,0.0,0.0,1.0
1,47,2,9,160,65,74.0,1.0,1.0,1.0,1.0,110.0,70.0,105.0,203.0,82.0,75.0,112.0,12.0,0,1.0,21.0,16.0,14.0,1.0,1.0,0.0,0.0
2,41,1,13,170,70,76.0,1.0,1.0,1.0,1.0,126.0,76.0,96.0,182.0,97.0,86.0,76.0,14.0,0,0.0,21.0,16.0,59.0,3.0,1.0,0.0,0.0
3,43,2,12,145,45,70.0,1.0,1.0,1.0,1.0,112.0,72.0,94.0,157.0,103.0,47.0,89.0,14.0,0,0.0,21.0,16.0,19.0,1.0,1.0,0.0,1.0
4,44,2,10,155,50,67.0,1.0,1.0,1.0,1.0,120.0,70.0,78.0,214.0,47.0,65.0,139.0,13.0,0,0.0,21.0,16.0,21.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104431,11,1,18,155,60,85.0,0.0,0.0,2.0,2.0,109.0,55.0,105.0,155.0,118.0,46.0,85.0,12.0,0,1.0,16.0,3.0,23.0,2.0,0.0,0.0,0.0
104432,11,1,18,160,55,76.0,0.0,0.0,2.0,2.0,89.0,64.0,134.0,126.0,56.0,46.0,68.0,12.0,0,1.0,15.0,3.0,5.0,1.0,0.0,1.0,1.0
104433,11,2,10,155,45,61.0,0.0,0.0,1.0,1.0,114.0,54.0,87.0,200.0,67.0,79.0,107.0,8.0,0,0.0,13.0,2.0,13.0,1.0,0.0,0.0,1.0
104434,29,2,11,145,55,79.0,0.0,0.0,1.0,1.0,116.0,75.0,87.0,151.0,113.0,36.0,92.0,10.0,0,0.0,15.0,2.0,13.0,1.0,0.0,0.0,0.0
104435,29,2,9,160,45,59.0,0.0,1.0,1.0,1.0,87.0,57.0,90.0,245.0,81.0,80.0,149.0,11.0,0,0.0,16.0,3.0,12.0,1.0,0.0,0.0,0.0

In [5]:
dataNew=dataNew.dropna()

In [6]:
dataNew=dataNew[data['HEAR_LEFT']!=3]
dataNew=dataNew[data['HEAR_RIGHT']!=3]
dataNew

,SIDO,SEX,AGE_GROUP,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,HEAR_RIGHT,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,TRIGLYCERIDE,HDL_CHOLE,LDL_CHOLE,HMG,OLIG_PROTE_CD,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,CRS_YN,TTR_YN
0,30,2,16,150,75,98.0,0.0,0.0,1.0,1.0,126.0,70.0,103.0,160.0,100.0,55.0,85.0,12.0,0,0.0,21.0,16.0,15.0,1.0,0.0,0.0,1.0
1,47,2,9,160,65,74.0,1.0,1.0,1.0,1.0,110.0,70.0,105.0,203.0,82.0,75.0,112.0,12.0,0,1.0,21.0,16.0,14.0,1.0,1.0,0.0,0.0
2,41,1,13,170,70,76.0,1.0,1.0,1.0,1.0,126.0,76.0,96.0,182.0,97.0,86.0,76.0,14.0,0,0.0,21.0,16.0,59.0,3.0,1.0,0.0,0.0
3,43,2,12,145,45,70.0,1.0,1.0,1.0,1.0,112.0,72.0,94.0,157.0,103.0,47.0,89.0,14.0,0,0.0,21.0,16.0,19.0,1.0,1.0,0.0,1.0
4,44,2,10,155,50,67.0,1.0,1.0,1.0,1.0,120.0,70.0,78.0,214.0,47.0,65.0,139.0,13.0,0,0.0,21.0,16.0,21.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104431,11,1,18,155,60,85.0,0.0,0.0,2.0,2.0,109.0,55.0,105.0,155.0,118.0,46.0,85.0,12.0,0,1.0,16.0,3.0,23.0,2.0,0.0,0.0,0.0
104432,11,1,18,160,55,76.0,0.0,0.0,2.0,2.0,89.0,64.0,134.0,126.0,56.0,46.0,68.0,12.0,0,1.0,15.0,3.0,5.0,1.0,0.0,1.0,1.0
104433,11,2,10,155,45,61.0,0.0,0.0,1.0,1.0,114.0,54.0,87.0,200.0,67.0,79.0,107.0,8.0,0,0.0,13.0,2.0,13.0,1.0,0.0,0.0,1.0
104434,29,2,11,145,55,79.0,0.0,0.0,1.0,1.0,116.0,75.0,87.0,151.0,113.0,36.0,92.0,10.0,0,0.0,15.0,2.0,13.0,1.0,0.0,0.0,0.0
104435,29,2,9,160,45,59.0,0.0,1.0,1.0,1.0,87.0,57.0,90.0,245.0,81.0,80.0,149.0,11.0,0,0.0,16.0,3.0,12.0,1.0,0.0,0.0,0.0

In [7]:
dataNew=dataNew[data['TTR_YN']!=2]
dataNew

,SIDO,SEX,AGE_GROUP,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,HEAR_RIGHT,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,TRIGLYCERIDE,HDL_CHOLE,LDL_CHOLE,HMG,OLIG_PROTE_CD,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,CRS_YN,TTR_YN
0,30,2,16,150,75,98.0,0.0,0.0,1.0,1.0,126.0,70.0,103.0,160.0,100.0,55.0,85.0,12.0,0,0.0,21.0,16.0,15.0,1.0,0.0,0.0,1.0
1,47,2,9,160,65,74.0,1.0,1.0,1.0,1.0,110.0,70.0,105.0,203.0,82.0,75.0,112.0,12.0,0,1.0,21.0,16.0,14.0,1.0,1.0,0.0,0.0
2,41,1,13,170,70,76.0,1.0,1.0,1.0,1.0,126.0,76.0,96.0,182.0,97.0,86.0,76.0,14.0,0,0.0,21.0,16.0,59.0,3.0,1.0,0.0,0.0
3,43,2,12,145,45,70.0,1.0,1.0,1.0,1.0,112.0,72.0,94.0,157.0,103.0,47.0,89.0,14.0,0,0.0,21.0,16.0,19.0,1.0,1.0,0.0,1.0
4,44,2,10,155,50,67.0,1.0,1.0,1.0,1.0,120.0,70.0,78.0,214.0,47.0,65.0,139.0,13.0,0,0.0,21.0,16.0,21.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104431,11,1,18,155,60,85.0,0.0,0.0,2.0,2.0,109.0,55.0,105.0,155.0,118.0,46.0,85.0,12.0,0,1.0,16.0,3.0,23.0,2.0,0.0,0.0,0.0
104432,11,1,18,160,55,76.0,0.0,0.0,2.0,2.0,89.0,64.0,134.0,126.0,56.0,46.0,68.0,12.0,0,1.0,15.0,3.0,5.0,1.0,0.0,1.0,1.0
104433,11,2,10,155,45,61.0,0.0,0.0,1.0,1.0,114.0,54.0,87.0,200.0,67.0,79.0,107.0,8.0,0,0.0,13.0,2.0,13.0,1.0,0.0,0.0,1.0
104434,29,2,11,145,55,79.0,0.0,0.0,1.0,1.0,116.0,75.0,87.0,151.0,113.0,36.0,92.0,10.0,0,0.0,15.0,2.0,13.0,1.0,0.0,0.0,0.0
104435,29,2,9,160,45,59.0,0.0,1.0,1.0,1.0,87.0,57.0,90.0,245.0,81.0,80.0,149.0,11.0,0,0.0,16.0,3.0,12.0,1.0,0.0,0.0,0.0

In [8]:
dataNew['BMI']=dataNew['WEIGHT']/(dataNew['HEIGHT']*dataNew['HEIGHT'])*10000
dataNew

,SIDO,SEX,AGE_GROUP,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,HEAR_RIGHT,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,TRIGLYCERIDE,HDL_CHOLE,LDL_CHOLE,HMG,OLIG_PROTE_CD,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,CRS_YN,TTR_YN,BMI
0,30,2,16,150,75,98.0,0.0,0.0,1.0,1.0,126.0,70.0,103.0,160.0,100.0,55.0,85.0,12.0,0,0.0,21.0,16.0,15.0,1.0,0.0,0.0,1.0,33.333333
1,47,2,9,160,65,74.0,1.0,1.0,1.0,1.0,110.0,70.0,105.0,203.0,82.0,75.0,112.0,12.0,0,1.0,21.0,16.0,14.0,1.0,1.0,0.0,0.0,25.390625
2,41,1,13,170,70,76.0,1.0,1.0,1.0,1.0,126.0,76.0,96.0,182.0,97.0,86.0,76.0,14.0,0,0.0,21.0,16.0,59.0,3.0,1.0,0.0,0.0,24.221453
3,43,2,12,145,45,70.0,1.0,1.0,1.0,1.0,112.0,72.0,94.0,157.0,103.0,47.0,89.0,14.0,0,0.0,21.0,16.0,19.0,1.0,1.0,0.0,1.0,21.403092
4,44,2,10,155,50,67.0,1.0,1.0,1.0,1.0,120.0,70.0,78.0,214.0,47.0,65.0,139.0,13.0,0,0.0,21.0,16.0,21.0,1.0,1.0,1.0,1.0,20.811655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104431,11,1,18,155,60,85.0,0.0,0.0,2.0,2.0,109.0,55.0,105.0,155.0,118.0,46.0,85.0,12.0,0,1.0,16.0,3.0,23.0,2.0,0.0,0.0,0.0,24.973985
104432,11,1,18,160,55,76.0,0.0,0.0,2.0,2.0,89.0,64.0,134.0,126.0,56.0,46.0,68.0,12.0,0,1.0,15.0,3.0,5.0,1.0,0.0,1.0,1.0,21.484375
104433,11,2,10,155,45,61.0,0.0,0.0,1.0,1.0,114.0,54.0,87.0,200.0,67.0,79.0,107.0,8.0,0,0.0,13.0,2.0,13.0,1.0,0.0,0.0,1.0,18.730489
104434,29,2,11,145,55,79.0,0.0,0.0,1.0,1.0,116.0,75.0,87.0,151.0,113.0,36.0,92.0,10.0,0,0.0,15.0,2.0,13.0,1.0,0.0,0.0,0.0,26.159334
104435,29,2,9,160,45,59.0,0.0,1.0,1.0,1.0,87.0,57.0,90.0,245.0,81.0,80.0,149.0,11.0,0,0.0,16.0,3.0,12.0,1.0,0.0,0.0,0.0,17.578125

In [9]:
dataNew[dataNew['SIGHT_LEFT']==9]=0
dataNew[dataNew['SIGHT_RIGHT']==9]=0
dataNew[['SIGHT_LEFT','SIGHT_RIGHT']]

        SIGHT_LEFT  SIGHT_RIGHT
0              0.0          0.0
1              1.0          1.0
2              1.0          1.0
3              1.0          1.0
4              1.0          1.0
...            ...          ...
104431         0.0          0.0
104432         0.0          0.0
104433         0.0          0.0
104434         0.0          0.0
104435         0.0          1.0

[104436 rows x 2 columns]

In [10]:
columns_IQR = [  'HEIGHT', 'WEIGHT',
       'WAIST', 'SIGHT_LEFT', 'SIGHT_RIGHT',
       'BP_HIGH', 'BP_LWST', 'BLDS', 'TOT_CHOLE', 'TRIGLYCERIDE', 'HDL_CHOLE',
       'LDL_CHOLE', 'HMG', 'CREATININE', 'SGOT_AST',
       'SGPT_ALT', 'GAMMA_GTP']

Q1 = dataNew.quantile(0.25)
Q1
Q3 = dataNew.quantile(0.75)
IQR = Q3-Q1

dataNew = dataNew[~((dataNew[columns_IQR]<(Q1-3*IQR))|(dataNew[columns_IQR]>(Q3+3*IQR))).any(axis=1)]
dataNew

C:\Users\wandong\AppData\Local\Temp\ipykernel_2240\4086650853.py:12: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  dataNew = dataNew[~((dataNew[columns_IQR]<(Q1-3*IQR))|(dataNew[columns_IQR]>(Q3+3*IQR))).any(axis=1)]
C:\Users\wandong\AppData\Local\Temp\ipykernel_2240\4086650853.py:12: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  dataNew = dataNew[~((dataNew[columns_IQR]<(Q1-3*IQR))|(dataNew[columns_IQR]>(Q3+3*IQR))).any(axis=1)]

,SIDO,SEX,AGE_GROUP,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,HEAR_RIGHT,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,TRIGLYCERIDE,HDL_CHOLE,LDL_CHOLE,HMG,OLIG_PROTE_CD,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,CRS_YN,TTR_YN,BMI
0,30,2,16,150,75,98.0,0.0,0.0,1.0,1.0,126.0,70.0,103.0,160.0,100.0,55.0,85.0,12.0,0,0.0,21.0,16.0,15.0,1.0,0.0,0.0,1.0,33.333333
1,47,2,9,160,65,74.0,1.0,1.0,1.0,1.0,110.0,70.0,105.0,203.0,82.0,75.0,112.0,12.0,0,1.0,21.0,16.0,14.0,1.0,1.0,0.0,0.0,25.390625
2,41,1,13,170,70,76.0,1.0,1.0,1.0,1.0,126.0,76.0,96.0,182.0,97.0,86.0,76.0,14.0,0,0.0,21.0,16.0,59.0,3.0,1.0,0.0,0.0,24.221453
3,43,2,12,145,45,70.0,1.0,1.0,1.0,1.0,112.0,72.0,94.0,157.0,103.0,47.0,89.0,14.0,0,0.0,21.0,16.0,19.0,1.0,1.0,0.0,1.0,21.403092
4,44,2,10,155,50,67.0,1.0,1.0,1.0,1.0,120.0,70.0,78.0,214.0,47.0,65.0,139.0,13.0,0,0.0,21.0,16.0,21.0,1.0,1.0,1.0,1.0,20.811655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104431,11,1,18,155,60,85.0,0.0,0.0,2.0,2.0,109.0,55.0,105.0,155.0,118.0,46.0,85.0,12.0,0,1.0,16.0,3.0,23.0,2.0,0.0,0.0,0.0,24.973985
104432,11,1,18,160,55,76.0,0.0,0.0,2.0,2.0,89.0,64.0,134.0,126.0,56.0,46.0,68.0,12.0,0,1.0,15.0,3.0,5.0,1.0,0.0,1.0,1.0,21.484375
104433,11,2,10,155,45,61.0,0.0,0.0,1.0,1.0,114.0,54.0,87.0,200.0,67.0,79.0,107.0,8.0,0,0.0,13.0,2.0,13.0,1.0,0.0,0.0,1.0,18.730489
104434,29,2,11,145,55,79.0,0.0,0.0,1.0,1.0,116.0,75.0,87.0,151.0,113.0,36.0,92.0,10.0,0,0.0,15.0,2.0,13.0,1.0,0.0,0.0,0.0,26.159334
104435,29,2,9,160,45,59.0,0.0,1.0,1.0,1.0,87.0,57.0,90.0,245.0,81.0,80.0,149.0,11.0,0,0.0,16.0,3.0,12.0,1.0,0.0,0.0,0.0,17.578125

In [12]:
Q3

SIDO                 43.000000
SEX                   2.000000
AGE_GROUP            13.000000
HEIGHT              170.000000
WEIGHT               70.000000
WAIST                87.000000
SIGHT_LEFT            1.000000
SIGHT_RIGHT           1.000000
HEAR_LEFT             1.000000
HEAR_RIGHT            1.000000
BP_HIGH             131.000000
BP_LWST              81.000000
BLDS                105.000000
TOT_CHOLE           225.000000
TRIGLYCERIDE        144.000000
HDL_CHOLE            65.250000
LDL_CHOLE           143.000000
HMG                  15.000000
OLIG_PROTE_CD         0.000000
CREATININE            1.000000
SGOT_AST             28.000000
SGPT_ALT             27.000000
GAMMA_GTP            32.000000
SMK_STAT_TYPE_CD      2.000000
DRK_YN                1.000000
CRS_YN                0.000000
TTR_YN                1.000000
BMI                  25.951557
Name: 0.75, dtype: float64

In [13]:
Q1

SIDO                 27.000000
SEX                   1.000000
AGE_GROUP            10.000000
HEIGHT              155.000000
WEIGHT               55.000000
WAIST                74.000000
SIGHT_LEFT            0.000000
SIGHT_RIGHT           0.000000
HEAR_LEFT             1.000000
HEAR_RIGHT            1.000000
BP_HIGH             112.000000
BP_LWST              69.000000
BLDS                 90.000000
TOT_CHOLE           172.000000
TRIGLYCERIDE         71.000000
HDL_CHOLE            47.000000
LDL_CHOLE            94.000000
HMG                  13.000000
OLIG_PROTE_CD         0.000000
CREATININE            0.000000
SGOT_AST             20.000000
SGPT_ALT             15.000000
GAMMA_GTP            15.000000
SMK_STAT_TYPE_CD      1.000000
DRK_YN                0.000000
CRS_YN                0.000000
TTR_YN                0.000000
BMI                  21.484375
Name: 0.25, dtype: float64

In [14]:
Q3-Q1

SIDO                16.000000
SEX                  1.000000
AGE_GROUP            3.000000
HEIGHT              15.000000
WEIGHT              15.000000
WAIST               13.000000
SIGHT_LEFT           1.000000
SIGHT_RIGHT          1.000000
HEAR_LEFT            0.000000
HEAR_RIGHT           0.000000
BP_HIGH             19.000000
BP_LWST             12.000000
BLDS                15.000000
TOT_CHOLE           53.000000
TRIGLYCERIDE        73.000000
HDL_CHOLE           18.250000
LDL_CHOLE           49.000000
HMG                  2.000000
OLIG_PROTE_CD        0.000000
CREATININE           1.000000
SGOT_AST             8.000000
SGPT_ALT            12.000000
GAMMA_GTP           17.000000
SMK_STAT_TYPE_CD     1.000000
DRK_YN               1.000000
CRS_YN               0.000000
TTR_YN               1.000000
BMI                  4.467182
dtype: float64

In [42]:
dataNew['OLIG_PROTE_CD']=np.where(dataNew['OLIG_PROTE_CD']<=4,0,1)
dataNew['OLIG_PROTE_CD'].value_counts()

C:\Users\wandong\AppData\Local\Temp\ipykernel_7552\4278131745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataNew['OLIG_PROTE_CD']=np.where(dataNew['OLIG_PROTE_CD']<=4,0,1)

0    104208
1       228
Name: OLIG_PROTE_CD, dtype: int64

In [44]:
dataNew.to_csv('C:/Users/wandong/OneDrive/바탕 화면/health.csv')